


/* utilities classes */
.flex{
    display: flex;  
}
.jcc{ 
    justify-content: center;
}

.jcsb{
    justify-content: space-between;
}
.jcsa{
    justify-content: space-around;
}
.aic{
    align-items: center;

}
button{
    background: none;
border: none;  
}
.fs-14{
    font-size: 20px;
}
.fwb{
    font-weight: bold;
}
.fd-row{
    flex-direction: row;
}
.fd-col{
    flex-direction: column;
}
.w-100{
    width: 100%;
}
/* main classes */
.Container{
    margin-top: 2%;
    margin-bottom: 2%;
    height: 320px;
    width: 80%;
    border-radius: 15px;
    background-color: white;
    
}

.header{
    margin-top: 10px;
    border-bottom: 2px solid lightgray;
    width: 90%;
    height: 50px;
}

.searchBtn{
  margin-top: 5px;
    color: gray;
}
.addIcon button {

    border-radius: 50%;
    width: 30px;
    height: 30px;
   background-color: rgb(67, 168, 251);
 color: white;

}

.searchInput {
    
    height: 30px;
    border: 1px solid lightgray;
    width: 800px;
    border-radius: 8px;
}
.searchInput input  { 
    font-size: 14px;
padding: 5px;
    width: 90%;
    border: none;
}
input:focus{
    outline: none;
}
.tableContainer{
    position: relative;
    width: 100%;
    overflow-y: scroll;
     height: 300px;
      /* border:2px solid red ; */
}

.userData{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid green; */
    width:180px;
}

.userData .userImage{
height: 30px;
border-radius: 50%;
width: 30px;
}

/* edit Modal */

.editModal{
    padding: 5px;
    box-shadow: 0px 0px 10px 2px rgba(128, 128, 128, 0.5);
position: absolute;
    height: 110px;
    width: 110px;
    align-items: left;
    display:flex;
    flex-direction: column;

    background-color: white;
   
   border-radius: 10px;
    right: 60%;
    bottom: -30%;
    z-index: 99999;
}
.editModal p{
    margin-bottom: -5px;
    color: blue;
   
border-bottom: 1px solid lightgray;
}

/* scroll bar css */
/* For WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px; /* width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* color of the thumb (scrollbar handle) */
    border-radius: 4px; /* radius of the thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #888; /* color of the thumb on hover */
  }
  
  /* For Firefox */
  /* Set the width to 'thin', 'auto', or 'none' to hide the default scrollbar */
;
  